.bg-danger {
    background-color: red;
}
.border-danger {
    border: 2px solid red;
}
.list-group-item {
    padding: 2%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.remove-button {
    background-color: rgb(223, 21, 21);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.remove-button:hover {
    background-color: rgb(129, 3, 3);
}